.wrap {
	margin:0 auto;
	width:30%;
	margin-top:50px;
}
table {
	width:100%;
	border:5px solid #EAEAEA;
	border-collapse:collapse;
}
td, th {
	border:3px solid #EAEAEA;
	padding:10px;
	text-align:center;
}
.comment{
	width:100%;
	line-height:125%;
	word-spacing:30px;
	letter-spacing:3px
}
.top {
	background:#FFFF48;
}			
.w_btn {
	float:right;text-decoration:none;
	padding:10px;
	margin-top:10px;
	background:#EAEAEA;
	color:#000;
	}
.r_btn {
float:left;
}